.container {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: bold;
    padding: 0 1.5em;
    color: var(--textSec);
    position: relative;
}

.link, .link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textSec);
    font-size: 14px;
    fill: var(--textSec);
}

.link:hover {
    color: var(--text);
    fill: var(--text);
}

.icon {
    fill: inherit;
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}